[submodule "vendor/UnityResolve"]
	path = vendor/UnityResolve
	url = https://github.com/Taiga74164/UnityResolve.hpp
	branch = main
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/magic_enum"]
	path = vendor/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "vendor/nano-signal-slot"]
	path = vendor/nano-signal-slot
	url = https://github.com/NoAvailableAlias/nano-signal-slot
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
